<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/site.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        {% include 'menu.twig' %}
        <h1>Requests</h1>
        <table border="1">
            <thead>
                <td>TruckRequestId</td>
                <td>CustomerId</td>
                <td>Date Requested</td>
                <td>Company Name</td>
                <td>Address</td>
            </thead>
            <tbody>
                {% for truckRequest in truckRequests %}
                    <tr>
                        <td>{{ truckRequest.getTruckRequestId }}</td>
                        <td>{{ truckRequest.getCustomerId }}</td>
                        <td>{{ truckRequest.getTimestamp.format("Y-m-d H:m:s") }}</td>
                        <td>{{ truckRequest.getCustomerName }}</td>
                        <td>{{ truckRequest.getCustomerAddressAsString }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>